body {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), 
    url("https://images.unsplash.com/photo-1523037516325-923715696102?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
    background-size: cover;
    background-position: center;
    text-shadow: 0 0.05rm 0.1rem rgba(0,0,0, 0.5);
    box-shadow: inset 0 0 5rem rgba(0,0,0, 0.8);
}

.card {
    background-color: rgba(140, 140, 140, 0.1);
    backdrop-filter: blur(6px);
    color: white;
}